@font-face {
          font-family: fountain;
          src: url("TheFountainofWishes.ttf");
}
@font-face {
     font-family: kimberly;
     src: url("./kimberly/kg-strawberry-limeade.ttf");
     src: url("./kimberly/KGFonts-TOU.txt");
     src: url("./kimberly/KGStrawberryLimeade.ttf");
}

* {
          margin: 0;
          padding: 0;
          letter-spacing: 0.4px;

}
body{
          background-color:#f1e5d5 ;
          font-family: fountain;
          color: #0f0f0f;
          font-size: 20px;
          text-align: center;
}
h1{
     margin: 15px 2px;
}
.navi-b{
     position: fixed;
     z-index: 1000;
     left: 0;
     top: 0;
     width: 100%;
     height: auto;
     background-color:  rgb(209, 206, 206);
     padding: 8px 5px 5px;

     
    
}
.navis-1{
     margin: 3px 20px -20px 0px;
     text-align: right;
}
.navis-2{
     display: flex;
     justify-content: space-between;
     align-items:baseline;
     margin: 10px 0 0 0;
}
.mail-link{
text-decoration: none;
font-size: 19px;
color: inherit;
}

.mail-link:hover{
color: #2e2e3f;
font-size: 20.5px;
text-shadow: #272827 0  0 0.5px;
}

.new-logo{
     width: 2.5rem;
     border-radius: 100%;
     margin: 0 0 0 10px;
     border: #2e2e3f solid 4px;
}
.new-logo-name{
display: inline;
font-size: 32px;
margin: auto 0 auto -2px;
}
.bar-div{
    text-align: right; 
   
}
.bar{
     margin: 0 10px 0 -5px;
     text-decoration: none;
     font-size: 25px;
     color: #0d192b;
}

.bar:hover{
color: rgba(41, 39, 1, 0.78);
text-decoration: none;
text-shadow: rgba(23, 23, 17, 0.78) 0.5px 0px 1px;
background-color: transparent;
font-size: 27px;     
}

.bar:visited{
     color: rgb(104, 104, 104);
     text-decoration: none;
     background-color: transparent;
}
.bar:link{
color: #0d192b;
background-color: transparent;
text-decoration: none;
}


a:focus-visible{
     outline: #010e20 2px dotted;
}

#main{
     margin: 20px auto 10px;
     padding: 6%;
     text-align: center;
    
     justify-content: center;



}
.main-div{
      width: 43.75rem;
     text-align: left;
}

.main-list{
     color: inherit;
     list-style: none ; 
     margin: 15px 0;
     
}
.list{
     color: inherit;
     list-style: none ; 
     margin: 5px 20px;
}

.con-link{
     color:#444444;
}

.con-link:hover{
     color:#4c4343 ;
     font-size: 25px;
     -moz-text-decoration-style: none;
     text-decoration: none;
     margin: 3px;
     padding: 3px;
     border-radius: 50%;
     border-bottom: #4c4343 dotted 1px;
    
}

.line{
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
     align-content: normal;
     justify-content:initial;
     text-align: center;
     column-gap: 0.4rem;
     width: 20rem;;
}

.line1{
     border: #929390 dotted 3px;
     border-bottom: none;

}

.line2{
     width: 5rem;
}

.locay-span{
     margin-right: 5px;
     font-size:22px ;
     font-weight: bold;
}

.feed-rule{
     border: #d5cbbf solid 0.2px;
     border-bottom: none;
     font-weight: lighter;
     /* color:#d5cbbf ; */
     margin: 20px 0;
}

.input-box{
     padding: 5px;
     margin: 5px 10px ;
     width: 300px;
     border-radius: 10px ;
     border: none;
}

.feedback{
     margin:25px auto 20px;
}

.feedback-mes{
     padding: 3%;
     outline: none;
     border: none;
     border-radius: 10px;
     margin: 10px auto;
     width: auto;
}

.submit-btn{
     text-decoration: none;
     color: #444444;
     background-color: transparent;
     font-family:Verdana, Geneva, Tahoma, sans-serif ;
     font-size: 18px;
     font-weight: normal;
     text-shadow: #152237;
     width: auto;
     margin: 10px;
     padding: 10px 20px;
     border-radius:10px ;
     border: 2px  solid #d5cbbf;
}

.home-div{
     margin: 30px 0 25px ;
     width: 95%;


}

.home-btn{
          text-decoration: none;
          color: #444444;
          background-color: transparent;
          font-family:Verdana, Geneva, Tahoma, sans-serif ;
          font-size: 23px;
          font-weight: lighter;
          padding: 10.75px 50px;
          
          width: 95%;
          justify-content: center;
          border:#929390 solid 2px;
          border-radius: 10px;


}
.home-btn:hover{
          border:  rgba(47, 48, 55, 0.35) solid 6px;

}

@media (max-width:1024px) {


     .navi-b{
          position: fixed;
     }

     .main-div{
          padding: 10% 5%;
          width: 95%;
          margin: 40px auto;
     }
     .line1,.line{
          width: 95% ;
     }
     .feedback-mes{
          width: 400px;
     }
     .feed-form{
          max-width: 400px;
     }
}
@media (max-width:450px) {
     
     .feed-form{
          max-width: 400px;
     }
     .feedback-mes{
          max-width: 400px;
     }
}