@font-face {
          font-family: fountain;
          src: url("TheFountainofWishes.ttf");
}
@font-face {
     font-family: kimberly;
     src: url("./kimberly/kg-strawberry-limeade.ttf");
     src: url("./kimberly/KGFonts-TOU.txt");
     src: url("./kimberly/KGStrawberryLimeade.ttf");
}

* {
          margin: 0;
          padding: 0;
          letter-spacing: 0.4px;

}
body{
          background-color:#f1e5d5 ;
          font-family: fountain;
          color: #0f0f0f;
          text-align: center;
}

.project-main{
          margin: 30px auto;
          padding: 30px 20px;
          font-size: 20px;
          text-align: center;
          
}

.project{
          display: inline-flex;
          justify-content: space-evenly;
          flex-wrap:wrap;
          margin: 10px;
          padding: 4px 10px;

}

.project-div-1{
     margin: 20px;
     text-align: left; 
     text-align: justify;
     line-height: 1.8rem;
     width: 25.875rem;
     font-size: 20px;
     float: left;
}

.project-div-2{
     margin: 20px;
     text-align: left; 
     text-align: justify;
     line-height: 1.8rem;
     width: 25.875rem;
     font-size: 20px;
     float: right;
}

.pro-img{
          width: 31.26rem;
          border: 3px #f1e5d5 solid;
          border-radius: 8%;
          margin: 5px auto 20px;
          text-align: center;
          
}

.visit-btn{
          text-decoration: none;
          color: #444444;
          background-color: transparent;
          font-family:Verdana, Geneva, Tahoma, sans-serif ;
          font-size: 23px;
          font-weight: lighter;
          padding: 15.75px 50px;
          margin: 45px 0 0 ;
          width: 95%;
          justify-content: center;
          border:#929390 solid 2px;
          border-radius: 10px;


}
.visit-btn:hover{
          border:  rgba(47, 48, 55, 0.35) solid 6px;

}
@media (max-width:1024px) {
     .project-main{
          width: 90%;
     }


     .project-div-1{
          clear: right;
     }

     .project-div-2{
          margin: 20px -20px 20px 20px;
          clear: left;
          float: left;
     }
     
}