@font-face {
          font-family: fountain;
          src: url("TheFountainofWishes.ttf");
}
@font-face {
     font-family: kimberly;
     src: url("./kimberly/kg-strawberry-limeade.ttf");
     src: url("./kimberly/KGFonts-TOU.txt");
     src: url("./kimberly/KGStrawberryLimeade.ttf");
}
* {
          margin: 0;
          padding: 0;
          /* font-family: fountain; */
          text-align: center;
          letter-spacing: 0.5px;

}
body{
          background-color:#f1e5d5 ;
          font-family: fountain;
          color: #0f0f0f;
          justify-self: center;
}

.navi-b{
          position: fixed;
          z-index: 1000;
          left: 0;
          top: 0;
          width: 100%;
          height: auto;
          background-color:  rgb(209, 206, 206);
          padding: 8px 5px 5px;
     
          
         
}
.navis-1{
          margin: 3px 20px -20px 0px;
          text-align: right;
}
.navis-2{
          display: flex;
          justify-content: space-between;
          align-items:baseline;
          margin: 10px 0 0 0;
}
.mail-link{
     text-decoration: none;
     font-size: 19px;
     color: inherit;
}

.mail-link:hover{
     color: #2e2e3f;
     font-size: 20.5px;
     text-shadow: #272827 0  0 0.5px;
}

.new-logo{
          width: 2.5rem;
          border-radius: 100%;
          margin: 0 0 0 10px;
          border: #2e2e3f solid 4px;
}
.new-logo-name{
     display: inline;
     font-size: 32px;
     margin: auto 0 auto -2px;
}
.bar-div{
         text-align: right; 
        
}
.bar{
          margin: 0 10px 0 -5px;
          text-decoration: none;
          font-size: 25px;
          color: #0d192b;
}

.bar:hover{
     color: rgba(41, 39, 1, 0.78);
     text-decoration: none;
     text-shadow: rgba(23, 23, 17, 0.78) 0.5px 0px 1px;
     background-color: transparent;
     font-size: 27px;     
}

.bar:visited{
          color: rgb(104, 104, 104);
          text-decoration: none;
          background-color: transparent;
}
.bar:link{
     color: #0d192b;
     background-color: transparent;
     text-decoration: none;
}


a:focus-visible{
          outline: #010e20 2px dotted;
}

#main{
          width: 90%;
          margin: -10px auto -30px;
          justify-content: center;
          padding: 5%;
          display: flex;
          column-gap: 7rem;
          position: relative;
     
}
.josh-img{
          margin: 30px 10px 32px 30px;
          width: 28.25rem;
          /* height: 35rem; */
          border-radius: 5% 5% 8% 8%;
}
.main-1{
          margin: 80px 0 0;
}
.main-2{
          margin: 80px 10px 80px -20px;
          padding: 30px 10px;
          font-size: 20px;
          width: 25.875rem;
}
.main-2-sub{
          margin: 5%;
          text-align: justify;
         line-height: 1.8rem;
          font-size: 20px;
}

.resume-div{
      margin: 45px 0 0 ;
      width: 95%;
}

.btn-resume{
          text-decoration: none;
          color: #444444;
          background-color: transparent;
          font-family:Verdana, Geneva, Tahoma, sans-serif ;
          font-size: 30px;
          text-shadow: #152237;
          font-weight: normal;
          padding: 15.75px 50px;
          justify-content: center;
          border:#929390 solid 2px;
          border-radius: 10px;
          width: 100%;
}
.btn-resume:hover{
          border:  rgba(47, 48, 55, 0.35) solid 6px;
          text-decoration: none;

}

/* =------=======FOOOTER=======--- */
.foot{
     margin: 2px auto 50px;
     color: #223c64;
   
}
.foot-div{
     display: flex;
     justify-content:space-evenly;
     margin: auto;
     
     
}
.foot-div-sub-1{
     width:36rem;
     text-align: right;
     margin:0 30px 40px 10px;
}

.foot-sub1{
     display:flex;
     flex-direction: column;
     width:35rem;
     margin: auto -30px;
     
}



.sub{
     font-size: 20px;
     color: #223c64;
     text-decoration: none;
     text-align: right;
     font-size: 28px;
     margin: 5px 0;
}

.sub1:hover{
     font-size: 29px;
     border-bottom: 3px #223c64 solid ;
     margin: 0 10px 12px;
     padding: 5px;
     border-radius: 20%;

}

.rule{
     margin: 30px auto;
     width: 20%;
     border: dotted  3px;
     border-bottom: none;
     text-shadow: 0 0 0 10px;
     text-align: center;

}

.lasty-foot{
    margin-top: 10px;
    font-size: 28px;
   
    

}


.foot-div-sub-2{
     
     width:34.75rem;
     text-align: center;
     margin:0 10px 40px -20px;


}
.sub-2-h2{
     font-size: 30px;
     font-family:fantasy;

}
.con-div{
     margin: 45px 0 0 ;
}
#con-btn{
    
     color: #223c64;
     margin: 45px 0 0 ;
     padding: 15.75px 50px;
     text-shadow: #0e1e37;
     font-family:Verdana, Geneva, Tahoma, sans-serif ;
     font-size: 28px; 
     /* width: 20.45rem; */
     justify-content: center;
     border:  #223c64 scolid 4px;
     border: solid 2px;
     border-radius: 10px;
     box-shadow:24px 19px 5px #03193c;
     text-decoration: none;

}
#con-btn:hover{
     border:  #223c64 solid 4px;
     box-shadow: 20px 1px 10px #042049;
     font-family: fountain;
     font-size: 40px;
     word-spacing: 8px;
     font-weight: light;

}





/* -------======responsiveness=======--------- */
@media screen and (max-width:1000px) {
          #main{
                   display: block;
                   text-align: center;
                   width: 95%;
                   font-size: 25px;
          }
          .josh-img{
                    margin: 30px auto 30px;
          }
          .main-2{
                    width: 95%;
                    margin: 40px 0 0 ;
                    padding: 0;

          }
          h1{
               font-size: 45px;
          }
          .main-2-sub{
                    margin:10px auto;
                    width: auto;
                    font-size: 35px;
          }
          .btn-resume{
                    margin: 45px 0 0 ;
                    width: 95%;
          }

          .foot{
               margin: 10px auto 0;
          }
      
          .foot-div{
               display: block;
               align-self:auto;
               text-align: center;               
          }

          .foot-div-sub-1{
               width: 95%;
               margin:0 auto -0px ;
               text-align: center;               

          }
          .foot-div-sub-2{
               width: 95%;
               margin: 0 auto 50px;
               text-align: center;               

          }


          .foot-sub1{
               display: flex;
               justify-content:space-between;
               flex-direction: row;
               margin: auto;

               
          }


          .sub{
               margin: 20px 20px 0;
               width: 31.25rem;
               font-size: 28px;
               text-align: center;
          }

          .sub1{
               font-size: 40px;
          }
          .sub1:hover{
               font-size: 29px;
               border-bottom: 3px #223c64 solid ;
               margin: 0 10px 12px;
               padding: 5px;
               border-radius: 20%;
          
          }
          
          .lasty-foot{
               margin-bottom: 0;
          }
          .sub-h2{
               font-size: 1.38125rem;
               font-family:kimberly;
               /* font-weight: lighter; */
               margin: 0 3px 0;
          
               
          }

          #con-btn{
               margin: 35px 0 0 ;
               width: 95%;
          }
          
          .rule{
               margin: 30px auto;
               width: 3%;
               border: dotted  5px;
               border-bottom: none;
               text-shadow:inherit 0.5px 0  10px;
               text-align: center;
          
          }
          
}
  
@media (min-width:1020px) {
     .rule{
          display: none;
     }
     .lasty-foot{
          margin: 20px auto;
     }
 
}